N8N_EXECUTIONS_MODE=queue
N8N_CONCURRENCY_PRODUCTION_LIMIT=100
N8N_CONCURRENCY_PROCESSES=100
N8N_GRACEFUL_SHUTDOWN_TIMEOUT=90

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=yourPostgresDbHost
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_PASSWORD=yourPostgresDbPassword
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED=false
DB_POSTGRESDB_USER=n8n_admin

N8N_QUEUE_BULLMQ_ENABLED=true
QUEUE_BULL_REDIS_TLS=true
QUEUE_BULL_REDIS_HOST=yourRedisPassword
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_USERNAME=n8n
QUEUE_BULL_REDIS_PASSWORD=yourPostgresDbPassword
QUEUE_BULL_PREFIX={n8n}

N8N_RUNNERS_ENABLED=false
N8N_SECURITY_RESTRICTED_MODE=false
N8N_ENCRYPTION_KEY=randomEncryptionKey
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

GENERIC_TIMEZONE=Europe/Istanbul
N8N_BLOCK_ENV_ACCESS_IN_NODE=true
N8N_LOG_LEVEL=debug